
  .frame
  {
    display: flex;
    box-sizing: border-box;
    background-size: cover;
  }

  h1
  {
    margin: 0px;
    overflow-wrap: break-word;
  }

  section
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @font-face {
    font-family: Integral CF;
    src: url('integral.otf');
  }
